<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

    {% include 'import-css.html' %}
  	
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
         <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="images/sidebar-logo.png" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'admin-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="Login.html">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-left">
                <li id="welcome-banner">
                  Welcome! Bianca Marie R. Cauyao
                </li>
              </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Manage Users</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
			
								<!-- START Table-->

                <div class="row">
        					<div class="col-md-12 col-sm-12 col-xs-12">
        						  
        						<div class="clearfix">
        						  
                    <form method="POST" action="#">

          						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th style="width: 10%">Date Approved</th>
                            <th style="width: 14%">ID Number</th>
                            <th style="width: 23%">Last Name</th>
                            <th style="width: 23%">First Name</th>
                            <th style="width: 11%">Status</th>
                            <th style="width: 15%">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>99/99/9999</td>
                            <td>11412345</td>
                            <td>Cauyao</td>
                            <td>Bianca Marie</td>
                            <td>Active</td>
                            <td class="actions"><button type="button" name="details" class="btn btn-default" data-toggle="modal" data-target=".div-view-user-details-modal">&nbsp;Details&nbsp;</button>
                            <button type="button" name="details" class="btn btn-primary" data-toggle="modal" data-target=".div-edit-user-details-modal">&nbsp;Edit Details&nbsp;</button></td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>11412345</td>
                            <td>Cauyao</td>
                            <td>Bianca Marie</td>
                            <td>Active</td>
                            <td class="actions"><button type="button" name="details" class="btn btn-default" data-toggle="modal" data-target=".div-view-user-details-modal">&nbsp;Details&nbsp;</button>
                            <button type="button" name="details" class="btn btn-primary" data-toggle="modal" data-target=".div-edit-user-details-modal">&nbsp;Edit Details&nbsp;</button></td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>11412345</td>
                            <td>Cauyao</td>
                            <td>Bianca Marie</td>
                            <td>Active</td>
                            <td class="actions"><button type="button" name="details" class="btn btn-default" data-toggle="modal" data-target=".div-view-user-details-modal">&nbsp;Details&nbsp;</button>
                            <button type="button" name="details" class="btn btn-primary" data-toggle="modal" data-target=".div-edit-user-details-modal">&nbsp;Edit Details&nbsp;</button></td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>11412345</td>
                            <td>Cauyao</td>
                            <td>Bianca Marie</td>
                            <td>Active</td>
                            <td class="actions"><button type="button" name="details" class="btn btn-default" data-toggle="modal" data-target=".div-view-user-details-modal">&nbsp;Details&nbsp;</button>
                            <button type="button" name="details" class="btn btn-primary" data-toggle="modal" data-target=".div-edit-user-details-modal">&nbsp;Edit Details&nbsp;</button></td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>11412345</td>
                            <td>Cauyao</td>
                            <td>Bianca Marie</td>
                            <td>Active</td>
                            <td class="actions"><button type="button" name="details" class="btn btn-default" data-toggle="modal" data-target=".div-view-user-details-modal">&nbsp;Details&nbsp;</button>
                            <button type="button" name="details" class="btn btn-primary" data-toggle="modal" data-target=".div-edit-user-details-modal">&nbsp;Edit Details&nbsp;</button></td>
                          </tr>
                        </tbody>
                      </table>

                    </form>

                    </div>
        					</div>
						
						      <!-- END Table-->

                  <!-- MODAL FOR USER DETAILS -->
                  <!-- MODAL FOR USER DETAILS -->

                  <div class="modal fade div-view-user-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm" id="view-user-details-modal">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel2">User Information</h4>
                    </div>
                    <div class="modal-body">

                      <div class="x_panel">

                        <div class="x_title">
                          <h4><b>Personal Information<b></b>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                          <h5><b>Date Applied: </b> &nbsp; 99/99/9999</h5>
                          <h5><b>ID Number: </b> &nbsp; 11499999</h5>
                          <h5><b>Full Name: </b> &nbsp; CAUYAO, Bianca Marie R.</h5>
                          <h5><b>Email: </b> &nbsp; bianca_cauyao@dlsu.edu.ph</h5>
                          <h5><b>Mobile Number: </b> &nbsp; 99999999999</h5>
                          <h5><b>Status: </b> &nbsp; Active</h5>

                        </div>

                      </div>

                      <div class="x_panel">

                        <div class="x_title">
                          <h4><b>Laboratory & Academic Information<b></b>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                          <h5><b>Degree: </b> &nbsp; BS Information Technology</h5>
                          <h5><b>Thesis Adviser: </b> &nbsp; Fritz Flores</h5>
                          <h5><b>Laboratory: </b> &nbsp; No laboratory</h5>

                        </div>

                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                  </div>
                  </div>

                  <!-- END MODAL FOR USER DETAILS -->
                  <!-- END MODAL FOR USER DETAILS -->

                  <!-- MODAL FOR EDIT USER DETAILS -->
                  <!-- MODAL FOR EDIT USER DETAILS -->

                  <div class="modal fade div-edit-user-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm" id="edit-user-details-modal">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel2">Edit User Information</h4>
                    </div>
                    <div class="modal-body">

                      <form method="POST" action="#" class="form-horizontal form-label-left">

                      <div class="x_panel">

                        <div class="x_title">
                          <h4><b>Current Information<b></b>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                          <h5><b>Last Name: </b> &nbsp; Cauyao</h5>
                          <h5><b>First Name: </b> &nbsp; Bianca Marie</h5>
                          <h5><b>Email: </b> &nbsp; bianca_cauyao@dlsu.edu.ph</h5>
                          <h5><b>Mobile Number: </b> &nbsp; 99999999999</h5>
                          <h5><b>Thesis Adviser: </b> &nbsp; Fritz Flores</h5>
                          <h5><b>Laboratory: </b> &nbsp; CEHCI</h5>
                          <h5><b>Status: </b> &nbsp; Active</h5>

                        </div>

                      </div>

                      <div class="x_panel">

                        <div class="x_title">
                          <h4><b>Edit Information<b></b>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">Last Name</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <input type="input" name="quantity" required="required" class="form-control col-md-12 col-xs-12">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">First Name</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <input type="input" name="quantity" required="required" class="form-control col-md-12 col-xs-12">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">Email</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <input type="input" name="quantity" required="required" class="form-control col-md-12 col-xs-12">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">Mobile Number</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <input type="number" name="quantity" required="required" class="form-control col-md-12 col-xs-12" style="margin-top: 10px">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">Thesis Adviser</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <select class="form-control">
                                <option>Fritz Flores</option>
                                <option>Danny Cheng</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">Laboratory</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <select class="form-control">
                                <option>CEHCI</option>
                                <option>G405</option>
                                <option>ADRIC</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-xs-12" for="quantity">Status</label>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                              <select class="form-control">
                                <option>Active</option>
                                <option>Inactive</option>
                              </select>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Accept Changes</button>
                    </div>

                    </form>

                  </div>
                  </div>
                  </div>

                  <!-- END MODAL FOR EDIT USER DETAILS -->
                  <!-- END MODAL FOR EDIT USER DETAILS -->

                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->	
	
    <!-- jQuery -->
    {% include 'import-js.html' %}
  </body>
</html>