{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

  {% include 'import-css.html' %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="{% static 'production/images/sidebar-logo.png' %}" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-tech-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="{% static 'production/Login.html' %}">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-left">
                <li id="welcome-banner">
                  Welcome! Bianca Marie R. Cauyao
                </li>
              </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Register Account</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<form action="{% url 'FacultyTech/Calendar' %}" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uniqueid">Unique ID Number <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="uniquieid" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idnum">ID Number <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="idnum" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="fullname" class="control-label col-md-3 col-sm-3 col-xs-12">First Name<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="fullname" class="form-control col-md-7 col-xs-12" type="text" name="fullname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="fullname" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="fullname" class="form-control col-md-7 col-xs-12" type="text" name="fullname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile Number <span class="required">*</span>
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-12">
							           <input class="form-control col-md-2 col-xs-12" type="text"  disabled placeholder="+63">
						            </div>
						            <div class="col-md-5 col-sm-5 col-xs-12">
							           <input id="mobileno" name="mobileno" class="form-control col-md-5 col-xs-12" min="1000000000" max="9999999999" type="number">
						          </div>
                      </div>
                      <!-- Only for Students -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="adviser">Adviser <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="adviser" class="form-control" required>
                            <option disabled selected value="">-- Select Faculty --</option>
                            <option value="Fritz Flores">Fritz Flores</option>
                            <option value="Gregory Cu">Gregory Cu</option>
                            <option value="Thomas Tiam-Lee">Thomas Tiam-Lee</option>
                          </select>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-12" align="center">
                          <button class="btn btn-default" type="button">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>

    {% include 'import-js.html' %}
    
  </body>
</html>
