<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

  	{% include 'import-css.html' %}

    </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
         <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="images/sidebar-logo.png" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-tech-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="Login.html">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-left">
                <li id="welcome-banner">
                  Welcome! Bianca Marie R. Cauyao
                </li>
              </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>View Group Inventory</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
			
								<!-- START Table-->

                <div class="row">
        					<div class="col-md-12 col-sm-12 col-xs-12">
        						  
        						<div class="clearfix">
        						  
                    <form method="POST" action="#">

          						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th style="width: 10%">Date Borrowed</th>
                            <th>Item Name</th>
                            <th>Description</th>
                            <th style="width: 8%">Quantity</th>
                            <th style="width: 17%">Borrowed By</th>
                            <th style="width: 10%">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>99/99/9999</td>
                            <td>Raspberry Pi 3 Model B+</td>
                            <td>Raspberry Pi</td>
                            <td>1</td>
                            <td>Bianca Marie Cauyao</td>
                            <td class="actions"><button type="button" class="btn btn-success" data-toggle="modal" data-target=".div-view-item-details-modal">&nbsp;Details&nbsp;</button>
                            </td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>Raspberry Pi 3 Model B+</td>
                            <td>Raspberry Pi</td>
                            <td>1</td>
                            <td>Bianca Marie Cauyao</td>
                            <td class="actions"><button type="button" class="btn btn-success" data-toggle="modal" data-target=".div-view-item-details-modal">&nbsp;Details&nbsp;</button>
                            </td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>Raspberry Pi 3 Model B+</td>
                            <td>Raspberry Pi</td>
                            <td>1</td>
                            <td>Bianca Marie Cauyao</td>
                            <td class="actions"><button type="button" class="btn btn-success" data-toggle="modal" data-target=".div-view-item-details-modal">&nbsp;Details&nbsp;</button>
                            </td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>Raspberry Pi 3 Model B+</td>
                            <td>Raspberry Pi</td>
                            <td>1</td>
                            <td>Bianca Marie Cauyao</td>
                            <td class="actions"><button type="button" class="btn btn-success" data-toggle="modal" data-target=".div-view-item-details-modal">&nbsp;Details&nbsp;</button>
                            </td>
                          </tr>
                          <tr>
                            <td>99/99/9999</td>
                            <td>Raspberry Pi 3 Model B+</td>
                            <td>Raspberry Pi</td>
                            <td>1</td>
                            <td>Bianca Marie Cauyao</td>
                            <td class="actions"><button type="button" class="btn btn-success" data-toggle="modal" data-target=".div-view-item-details-modal">&nbsp;Details&nbsp;</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </form>

                    </div>
        					</div>
						
						      <!-- END Table-->

                  <!-- MODAL FOR ITEM DETAILS -->
                  <!-- MODAL FOR ITEM DETAILS -->

                  <div class="modal fade div-view-item-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm" id="view-item-details-modal">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel2">Item Details</h4>
                    </div>

                    <div class="modal-body">

                      <div class="x_panel">

                        <div class="x_title">
                          <h4><b>General Item Information<b></b>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                          <h5><b>Borrower: </b> &nbsp; CAUYAO, Bianca Marie R.</h5>
                          <h5><b>Item Name: </b> &nbsp; Raspberry Pi 3 Model B+</h5>
                          <h5><b>Item Description: </b> &nbsp; Raspberry Pi 3 Model B+</h5>
                          <h5><b>Quantity: </b> &nbsp; 1</h5>
                          <h5><b>Owned By: </b> &nbsp; TSG</h5>
                          <h5><b>Classification: </b> &nbsp; Big Item</h5>

                        </div>

                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                  </div>
                  </div>

                  <!-- END MODAL FOR ITEM DETAILS -->
                  <!-- END MODAL FOR ITEM DETAILS -->

                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->	
	
        {% include 'import-js.html' %}
        
  </body>
</html>