{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

  	{% include 'import-css.html' %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="{% static 'production/images/sidebar-logo.png' %}" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="Login.html">Log Out &nbsp;<i class="fa fa-sign-out"></i></a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-left">
                <li id="welcome-banner">
                  Welcome! Bianca Marie R. Cauyao
                </li>
              </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
               <div class="page-title">
					<div class="title_left">
						<h2>Residency Report</h2>
					</div>
				</div>

			  <div style="margin-top:0px;" class="ln_solid"></div>
		      <div class="row">
				<div class="col-md-12">
					<div class="x_content">

					<form action="" method="post">

					<!--START 1st-->
					<div class="row">
					<div class="column" style="float: left;height:200px;width:350px;margin-bottom:0px;margin-left:20px;">

						  <div class="x_title">
							<h4><b>Student Information</b></h4>
							<div class="clearfix"></div>
						  </div>
						  <div class="x_content">
							<div class="dashboard-widget-content">
							<h5><b>Unique ID No: </b> &nbsp 01234567</h5>
							<h5><b>Student No: </b> &nbsp 11425733</h5>
							<h5><b>Name: </b> &nbsp Bianca Marie R. Cauyao</h5>
							<h5><b>Laboratory: </b> &nbsp; CEHCI</h5>
							</div>
						

                        </div>
					</div>
						<!--END-->
						<!--START Table-->
						
						<div class="column" style="float: right;height:200px;width:550px;margin-bottom:0px;margin-right:20px">
						<h4><b>Residency Schedule</b></h5>
						<!-- Actual Residency Schedule Table -->

                          <table class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th style="width: 20%;">Monday</th>
                              <th style="width: 20%;">Tuesday</th>
                              <th style="width: 20%;">Wednesday</th>
                              <th style="width: 20%;">Thursday</th>
                              <th style="width: 20%;">Friday</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>N/A</td>
                              <td>N/A</td>
                              <td>4:15 PM - 5:45 PM</td>
                              <td>4:15 PM - 5:45 PM</td>
                              <td>N/A</td>
                            </tr>
                            <tr>
                              <td>N/A</td>
                              <td>N/A</td>
                              <td>6:00 PM - 7:30 PM</td>
                              <td>6:00 PM - 7:30 PM</td>
                              <td>N/A</td>
                            </tr>
                          </tbody>
                          </table>

                          <!-- Actual Residency Schedule Table -->
						</div>
						</div>
						<!--END Radio-->
						<!--Date Picker-->
						<div style="margin-left:15px;">
                        <form class="form-horizontal">
                          <fieldset>
                            <div class="control-group">
                              <div class="controls">
                                <div class="input-prepend input-group">
                                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                  <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/01/2016 - 01/25/2016" />
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </form>
						</div>
						<!--START Table-->
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="container">
								<ul class="nav nav-tabs">
									<li class="active"><a href="{% url 'Faculty/ResidencyReport' %}" data-toggle="tab" href="#residency"><b>Residency</b></a></li>
									<li><a href=""><b>Absence</b></a></li>
								</ul>
							</div>
							<div class="tab-content">
							<div id="residency" class="tab-pane fade in active">
							<div class="form-group">
								<div class="x_content">
								<h4 id="title_table" align="center" style="margin-top:0px;"><b>Residency Log</b><br>
								<small>June 01, 2018 to June 16, 2018</small></h4>
								<h5><b>Total Hours:</b> 16 hours, 30 minutes</h5>
									<div class="table-responsive">
										<table class="table table-striped jambo_table bulk_action" id="printTable"  border="1" rules="all">
											<thead style="background-color: #4CAF50">
											  <tr class="headings">
											    <th class="column-title">Date</th>
												<th class="column-title">Day</th>
												<th class="column-title">Timeslot</th>
												<th class="column-title">Laboratory</th>
												<th class="column-title">Actual Start Time</th>
												<th class="column-title">Actual End Time</th>
												<th class="column-title">Duration</th>
											  </tr>
											</thead>

											<tbody id="tbodyid">
											<tr>
											  <td>June 01, 2018</td>
											  <td>Friday</td>
											  <td>11:00 - 12:30</td>
											  <td>G402</td>
											  <td>09:00 AM</td>
											  <td>10:30 AM</td>
											  <td>01 hour, 30 minutes</td>
											</tr>
											<tr>
											  <td>June 01, 2018</td>
											  <td>Friday</td>
											  <td>11:00 - 12:30</td>
											  <td>G402</td>
											  <td>09:00 AM</td>
											  <td>10:30 AM</td>
											  <td>01 hour, 30 minutes</td>
											</tr>
											<tr>
											  <td>June 01, 2018</td>
											  <td>Friday</td>
											  <td>11:00 - 12:30</td>
											  <td>G402</td>
											  <td>09:00 AM</td>
											  <td>10:30 AM</td>
											  <td>01 hour, 30 minutes</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							</div>
							</div>
						</div>
						<!--END Radio-->


						</form>


					</div>
				</div>
			  </div>


				<div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>

	{% include 'import-js.html' %}
	
  </body>
</html>
