<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">

      <li><a href="{% url 'FacultyTech/Calendar' %}"><i class="fa fa-home"></i>Home</a></li>

      <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>

      <li><a><i class="fa fa-users"></i>Groups<span class="fas fa-chevron-down"></span></a>
        <ul class="nav child_menu">

          <li><a href="#">Manage Groups</a></li>
          <li><a href="#">Add Group</a></li>

        </ul>
      </li>

      <li><a><i class="fa fa-user-clock"></i>Residency<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">

          <li><a href="{% url 'FacultyTech/ViewResidencies' %}">View Residencies</a></li> <!-- FacultyTech View Residency -->
          <li><a href="{% url 'FacultyTech/EvaluateResidency' %}">Evaluate Residency</a></li>

        </ul>
      </li>

      <li><a><i class="fa fa-warehouse"></i>Inventory<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">

          <li><a href="{% url 'FacultyTech/AddItem' %}">Add Items</a></li>
          <li><a href="#">Manage Items</a></li> <!-- FacultyTech View/Edit Inventory -->

        </ul>
      </li>

      <li><a><i class="fa fa-exchange-alt"></i>Item Lending<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">

          <li><a href="{% url 'FacultyTech/BorrowItem' %}">Borrow Item</a></li>
          <li><a href="{% url 'FacultyTech/ReturnItem' %}">Return Item</a></li>

        </ul>
      </li>

      <li><a><i class="fa fa-file"></i>Reports<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">

          <li><a href="#">Groups Inventory</a></li> <!-- Faculty (Thesis Adviser) View Groups Inventory -->
          <li><a href="{% url 'FacultyTech/BorrowedItems' %}">Borrowed Items</a></li>
          <li><a href="{% url 'FacultyTech/ResidencyReport' %}">Student Attendance</a></li>

        </ul>
      </li>

      <li><a href="{% url 'FacultyTech/Inbox' %}"><i class="fa fa-envelope"></i>Inbox</a></li>

    </ul>
  </div>
</div>