{% load staticfiles %}

<!-- jQuery -->
<script src="{% static 'production/../vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>

<!-- Bootstrap -->
<script src="{% static 'production/../vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'production/../vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'production/../vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'production/../vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- jQuery Sparklines -->
<script src="{% static 'production/../vendors/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<!-- Flot -->
<script src="{% static 'production/../vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'production/../vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'production/../vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'production/../vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'production/../vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'production/../vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'production/../vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'production/../vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'production/../vendors/DateJS/build/date.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'production/../vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'production/../vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- Datatables -->
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<!-- FullCalendar -->
<script src="{% static 'production/../vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'production/../vendors/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<!-- DUAL LIST -->
<script src="{% static 'src/jquery.bootstrap-duallistbox.js' %}"></script>
<!-- PNotify -->
<script src="{% static 'vendors/pnotify/dist/pnotify.js' %}"></script>
<script src="{% static 'vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
<!-- Custom Theme Scripts -->
<script src="{% static 'production/../build/js/custom.js' %}"></script>
<!-- ajax shit --> 